{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <img src="{{ url_for('static', filename='web-logo.png') }}" alt="Perpetuum">
    </div>
{% endblock %}

